@font-face {
  font-family: bandwidth;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("https://rawcdn.githack.com/tilli-pro/branding/74f8ef3746eee224550523438b29b8ba308bdfc0/fonts/tenants/frontier/BandwidthDisplay_Rg.woff2")
 }